/** HTML */
html, body {
  margin: 0px;
  background-color: $color__main;
  height: 100vh;

  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

button {
  all: unset;
}

p {
  margin: 5px;
}
/** HTML */

/** Common */

.w-50 {
  width: 50%;
}

.color-danger {
  color: $color-red;
}

.color-blue {
  color: $color-blue;
}
/** Common */
