/** HTML */
html, body {
  margin: 0px;
  background-color: $color__main;
  height: 100vh;

  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

button {
  all: unset;
}
/** HTML */