/** color */
$color__main: #080926;
$color__minior: #141843;
$color_white: #FFFFFF;
$color-blue: #4987df;
$color-disabled: #353963;
/** color */

/** Font */
$font-md: 24px;
/** Font */

/** layout */

/** layout */

/** border */
$border-radius-main: 20px;
$border-radius-minor: 10px;
/** border */