/** color */
$color__main: #080926;
$color__minior: #141843;
$color_white: #FFFFFF;
$color-disabled: #353963;
/** color */

/** layout */
$layout__header--offset: 55.25px;
$layout__navigation--offset: 240px;
/** layout */

/** border */
$border-radius-main: 20px;
/** border */