/** color */
$color__main: #080926;
$color__minior: #141843;
$color_white: #FFFFFF;
$color-blue: #4987df;
$color-red: red;
$color-disabled: #353963;
/** color */

/** Font */
$font-xs: 18px;
$font-sm: 20px;
$font-md: 24px;
$font-lg: 36px;
/** Font */

/** layout */

/** layout */

/** border */
$border-radius-main: 20px;
$border-radius-minor: 10px;
$border-radius-oxo: 80px;
$border-radius-oxo-item: 40px;
/** border */