.quiz__dialog__answer {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;

  & p {
    font-size: $font-sm;
    color: $color__minior;
  }

  & p.right {
    color: $color-blue;
  }

  & p.wrong {
    color: $color-red;
  }

  & p.answer {
    color: $color-green;
  }
}